<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Customer</title>
  <link rel="stylesheet" href="/stylesheets/basic.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/create-customer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 
  <%- include('../common/side-menu.ejs') %>
  <section class="home-section">
    <nav class="navbar">
      <i class="fa-solid fa-bars"></i>
      <%- include('../common/navbar.ejs') %>
    </nav>
    
    <p class="page-details"><%= header %></p>
    
    <section class="body">
      <div class="form-container">
        <form onsubmit="event.preventDefault(); sendData('<%= customer._id %>');">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= customer.name %>" required>
    
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= customer.email %>"required>
    
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" value="<%= customer.address %>" required>
    
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" value="<%= customer.phoneNumber %>" required>
    
          <label for="dlNumber">DL Number:</label>
          <input type="text" id="dlNumber" name="dlNumber" value="<%= customer.dlNumber %>" required>
    
          <label for="gstnNumber">GSTN Number:</label>
          <input type="text" id="gstnNumber" name="gstnNumber" value="<%= customer.gstnNumber %>" required>
    
          <label for="category">Category:</label>
          <select id="category" name="category" required>
            <option value="creditor">Creditor</option>
            <option value="debitor">Debitor</option>
          </select>
    
          <button type="submit">Update Customer</button>
        </form>
      </div>
    </section>
  </section>
</body>
<script src="/scripts/side-menu.js"></script>
<script>
    async function sendData(id) {
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const address = document.getElementById('address').value;
        const category = document.getElementById('category').value;
        const phoneNumber = document.getElementById('phoneNumber').value;
        const dlNumber = document.getElementById('dlNumber').value;
        const gstnNumber = document.getElementById('gstnNumber').value;

        const data = {
            name: name,
            email: email,
            address: address,
            category: category,
            phoneNumber: phoneNumber,
            dlNumber: dlNumber,
            gstnNumber: gstnNumber
        }

       console.log(data);

        try {
            const response = await fetch(`/customers/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data),
            });

            if (!response.ok) {
                throw new Error(`Failed to create customer: ${response.statusText}`);
            }

            const responseData = await response.json();
            alert('Customer updated successfully:');

            // Optionally, you can redirect to another page or perform any other actions here
            // window.location.href = '/success';
        } catch (error) {
            console.error('Error creating customer:', error.message);
        }
    }
</script>
</html>
