<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/invoice-template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div class="invoice">
    <div class="header">
        <div class="top-section">
            <div class="logo">
                <img src="https://trypyramid.com/img/pyramid-logo-black-horizontal.png" alt="">
            </div>
            <h2>
                Inovice
            </h2>
        </div>
        <div class="bottom-section">
            <p>
                ward no 01 HN-829, jawahar marg 
            </p>
            <p>
                narayanpura,behind chhatarpur 
                petrol pump, chhatarpur(M.P.) 471001
            </p>
            <p>
                <strong>GSTIN</strong>&nbsp 23AENPV6354F1Z6 &nbsp&nbsp
                <strong>DL.NO.</strong>&nbsp 20B/1159/38/2022,21B/1160/38/20222
            </p>
        </div>
    </div>

    <div class="invoice-details">
      <div>
        <strong>Invoice to</strong>
        <p class="special"><%= customer.name%></p>
        <p><%= customer.address%></p>
        <p>State Code</p>
        <p><%= customer.gstnNumber%></p>
        <p><%= customer.dlNumber%></p>
      </div>

      <div class="right-side">
        <div>
            <strong>Invoice Number</strong>
            <div>
              <p><%= invoice.invoiceNumber%></p>
            </div>
        </div>
        <div>
            <strong>Invoice Date</strong>
            <div>
             <p>
              <%= new Date(invoice.date).toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %>
             </p>
            </div>
        </div>
      </div>
    </div>

    <div class="main-section">
      <table class="invoice-items">
        <thead>
          <tr>
            <th class="custom-font-size">S.No</th>
            <th class="custom-font-size">Product</th>
            <th class="custom-font-size">Pack</th>
            <th class="custom-font-size">Batch</th>
            <th class="custom-font-size">Expire</th>
            <th class="custom-font-size">HSN</th>
            <th class="custom-font-size">MRP</th>
            <th class="custom-font-size">Rate</th>
            <th class="custom-font-size">Dis.</th>
            <th class="custom-font-size">CGST</th>
            <th class="custom-font-size">SGST</th>
            <th class="custom-font-size">Qty</th>
            <th class="custom-font-size">Free</th>
            <th class="custom-font-size">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < invoice.products.length; i++) { %>
            <tr class="product">
              <td><%= i + 1 %></td>
              <td><%= products[i].name %></td>
              <td><%= products[i].packaging %></td>
              <td><%= products[i].batch %></td>
              <td><%= new Date(products[i].expireDate).toLocaleString('default', { month: '2-digit', year: 'numeric' }) %></td>
              <td><%= products[i].hsn %></td>
              <td><%= products[i].mrp %></td>
              <td><%= products[i].rate.toFixed(2) %></td>
              <td><%= products[i].discount %></td>
              <td><%= products[i].gst / 2 %></td>
              <td><%= products[i].gst / 2 %></td>
              <td><%= products[i].quantity %></td>
              <td><%= products[i].free %></td>
              <td><%= (products[i].rate * products[i].quantity).toFixed(2) %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
  
      <div class="bottom">
        <div class="gst-details">
            <table class="gst">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Total</th>
                        <th>Scheme</th>
                        <th>Discount</th>
                        <th>SGST</th>
                        <th>CGST</th>
                        <th>Total GST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GST 5%</td>
                        <td id="total-5"><%= ((gstDetails.fivePercent.gst) * 2 + gstDetails.fivePercent.discount).toFixed(2) %></td>
                        <td id="scheme-5">0.00</td>
                        <td id="discount-5"><%= (gstDetails.fivePercent.discount).toFixed(2) %></td>
                        <td id="gst-5"><%= (gstDetails.fivePercent.gst).toFixed(2) %></td>
                        <td id="gst-5"><%= (gstDetails.fivePercent.gst).toFixed(2) %></td>
                        <td id="total-gst-5"><%= ((gstDetails.fivePercent.gst) * 2).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td>GST 12%</td>
                      <td id="total-5"><%= ((gstDetails.twelvePercent.gst * 2) + gstDetails.twelvePercent.discount).toFixed(2) %></td>
                      <td id="scheme-5">0.00</td>
                      <td id="discount-5"><%= (gstDetails.twelvePercent.discount).toFixed(2) %></td>
                      <td id="gst-5"><%= (gstDetails.twelvePercent.gst).toFixed(2) %></td>
                      <td id="gst-5"><%= (gstDetails.twelvePercent.gst).toFixed(2) %></td>
                      <td id="total-gst-5"><%= ((gstDetails.twelvePercent.gst) * 2).toFixed(2) %></td>
                    </tr>
                    <tr>
                      <td>GST 18%</td>
                      <td id="total-5"><%= ((gstDetails.eighteenPercent.gst) * 2 + gstDetails.eighteenPercent.discount).toFixed(2) %></td>
                      <td id="scheme-5">0.00</td>
                      <td id="discount-5"><%= (gstDetails.eighteenPercent.discount).toFixed(2) %></td>
                      <td id="gst-5"><%= (gstDetails.eighteenPercent.gst).toFixed(2) %></td>
                      <td id="gst-5"><%= (gstDetails.eighteenPercent.gst).toFixed(2) %></td>
                      <td id="total-gst-5"><%= ((gstDetails.eighteenPercent.gst) * 2).toFixed(2) %></td>
                    </tr>
                   
                    <tr>
                        <td class="bold">Total</td>
                        <td><%= (gstDetails.total.gst + gstDetails.total.discount).toFixed(2) %></td>
                        <td>0.00</td>
                        <td><%= (gstDetails.total.discount).toFixed(2) %></td>
                        <td><%= ((gstDetails.total.gst)/2).toFixed(2) %></td>
                        <td><%= ((gstDetails.total.gst)/2).toFixed(2) %></td>
                        <td><%= ((gstDetails.total.gst)).toFixed(2) %></td>
                    </tr>
                </tbody>
            </table>
    
            <div class="total">
                 <div class="flex">
                    <p class="bold">Sub Total</p>
                    <p>
                      <%= total.subTotal.toFixed(2) %>
                    </p>
                 </div>
                 <div class="flex">
                    <p class="bold">Bill Discount</p>
                    <p>0</p>
                 </div>
                 <div class="flex">
                    <p class="bold">Total Discount</p>
                    <p><%= (gstDetails.total.discount).toFixed(2) %></p>
                 </div>
                 <div class="flex">
                    <p class="bold">CGST</p>
                    <p><%= ((gstDetails.total.gst)/2).toFixed(2) %></p>
                 </div>
                 <div class="flex">
                    <p class="bold">SGST</p>
                    <p><%= ((gstDetails.total.gst)/2).toFixed(2) %></p>
                 </div> 
            </div>
        </div>
    
        <section class="grand-total">
            <div class="left">
                <%= totalInWords %>
            </div>
            <div class="right">
                <p>Grand Total</p>
                <p>
                  <%= (total.grandTotal).toFixed(0) %>
                </p>
            </div>
        </section>

        <div class="terms">
          <h4>Terms And Conditons</h4>
          <p>Goods once sold will not be taken back or echanded</p>
          <p>Bill not paid after 30 days of invoice date will attract 24% interest</p>
          <p>All disputes subject to jurisdisction of Chhatarpur M.P.</p>
          <p>Prescribed Sales Tax declaration will be given</p>
        </div>
    
        <div class="footer">
          <div class="right">
            <div>
                <h4>Thank you for your business!</h4>
            </div>
            <div class="flex">
              <div class="div">
                <i class="fa-solid fa-phone"></i>
                <p>+91989330284</p>
              </div>
              <div>
                <i class="fa-regular fa-envelope"></i>
                <p>brij1529@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="left">
            <strong><p>Brij Pharma</p></strong> 
            <p>Authorised Signatory</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button onclick="printInvoice()">Print Invoice</button>

</body>
<script>
     function printInvoice() {
       window.print();
    }
</script>


</html>
